[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/MadrHacks/poison.git
[submodule "static/Fork-Awesome"]
	path = static/Fork-Awesome
	url = https://github.com/ForkAwesome/Fork-Awesome
