.logo-home {
  display: flex;
  justify-content: center;
}

.logo-home img {
  width: 70%;
}

.home-subtitle {
  font-size: 1.8em;
  margin-top: 30pt;
  margin-bottom: 0pt;
}
.logo-brand {
  margin-left: 4pt;
}

